@import 'mixin';
@import 'var';

.anons {
  margin-bottom: 70px;
  &__container {
    width: 1900px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../img/Anons.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 155px 310px;
  }

  &__title {
    width: 508px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 47px;
    line-height: 120%;
    color: #fff;

    span {
      font-family: 'Playfair Display';
      font-weight: 900;
      font-size: 60px;
      line-height: 120%;
      letter-spacing: 1.2;
      color: $color-gold;
    }
  }

  &__btn {
    @include btnPrimary;
  }
}
@media (max-width: $media-xl) {
  .anons {
    &__container {
      width: 1024px;
      height: 600px;
      background-image: url('../img/Anons_1024.jpg');
      padding: 36px 150px;
    }
  }
}
@media (max-width: $media-lg) {
  .anons {
    &__container {
      width: 768px;
      background-image: url('../img/Anons_768.jpg');
    }

    &__title {
      width: 508px;
    }
  }
}
@media (max-width: $media-sm) {
  .anons {
    &__container {
      width: 320px;
      height: 302px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url('../img/Anons_320.jpg');
      background-position: top;
      padding: 12px 30px;
      padding-bottom: 0;
    }

    &__title {
      width: 187px;
      font-weight: 400;
      font-size: 24px;
    }
  }
}
