@import 'mixin';
@import 'var';

.breadcrumb {
  width: 1280px;
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 32px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: '/';
    color: $color-grey;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  &__item:not(:last-child) {
    color:#999;
  }

  &__item:last-child {
   // color: $color-primary_shade;
  }
}
