@import 'mixin';
@import 'var';

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  height: 420px;
  background-color: $color-grey_ligth;
  img {
    padding-bottom: 16px;
  }

  &__content {
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $color-black;
  }

  &__price {
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-grey_shade;
  }

  &__rating {
    position: absolute;
    top: 33px;
    left: 30px;
  }

  &__btn__bottom {
    @include btnPrimary;
    align-self: center;
  }

  &__btn {
    @include btnSecondary;
  }

  &__btn:hover:not(:focus) {
    background-color: $color-primary_ligth;
    outline: none;
  }

  &__btn:focus {
    outline-color: #ce4307;
    background-color: $color-primary;
  }

  &__btn:active {
    background-color: $color-primary;
  }

  &__descr__alternative {
    display: none;
    max-width: 295px;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 22px;
    color: $color-grey_ligth;
  }
}

.star {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $color-secondary;
}

@media (max-width: $media-xl) {}
@media (max-width: $media-lg) {}
@media (max-width: $media-sm) {}

