@import 'mixin';
@import 'var';

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  // height: 420px;
  background-color: $color-grey_ligth;
  img {
    margin-bottom: 15px;

  }

  &__content {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $color-black;
  }

  &__price {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-grey_shade;
  }

  &__rating {
    position: absolute;
    top: 33px;
    left: 30px;
  }

  &__btn__bottom {
    @include btnPrimary;
    align-self: center;
  }

  &__btn {
    @include btnSecondary;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  }

  &__btn:hover:not(:focus) {
    background-color: $color-primary_ligth;
    color: white;
  }

  &__btn:focus {
    background-color: $color-primary_ligth;
    outline:  2px solid $color-primary-shade;
    outline-offset: -3px;
    color: white;
  }

  &__btn:active {
    background-color: $color-primary_shade;
    color: white;
  }

  &__descr__alternative {
    display: none;
    max-width: 295px;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 22px;
    color: $color-grey_ligth;
  }
}

.star {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $color-secondary;
}

@media (max-width: $media-xl) {
  .card {
  &__rating {
    left: 32px;
  }
}
}
@media (max-width: $media-lg) {
}
@media (max-width: $media-sm) {
  .card {
     padding: 16px;

    &__content {
      padding: 0;
    }

    &__name {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }

    &__price {
      margin-bottom: 16px;
    }

    &__rating {
      position: absolute;
      top: 16px;
      left: 16px;

      .star{
        font-size: 13px;
      }
    }

    &__btn {
      @include btnSecondary-sm;
      padding: 10px 21px;
    }

    img {
      margin-bottom: 13px;
    }
  }
}
