@import 'mixin';
@import 'var';

.catalogue {
  margin-bottom: 68px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include sectionTitle;
    color: $color-black;
    margin-bottom: 26px;
  }

  &__title:nth-child(2) {
    display: none;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    gap: 32px;
    margin-bottom: 32px;
  }

  &__filter {
    grid-column: 1;
    grid-row: 1;
  }

  &__cards {
    grid-column: 2;
    grid-row: 1;
  }
  &__card {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 296px);
    grid-template-rows: 426px 426px 426px;

    .card:nth-child(n + 10) {
      display: none;
    }
  }

  &__pagination {
    display: flex;
    align-self: center;

    a {
      @include btnReset;
      @include btnSecondary;
      padding:8px 10px ;
    }  
  }

  &__btn:not(:last-child){
    margin-right: 16px;
  }

  &__btn {
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  }

  &__btn:hover:not(:focus) {
    background-color: $color-primary_ligth;
    color: white;
  }

  &__btn:focus {
    background-color: $color-primary_ligth;
    outline:  2px solid $color-primary-shade;
    outline-offset: -3px;
    color: white;
  }

  &__btn:active {
    background-color: $color-primary_shade;
    color: white;
  }

}

@media (max-width: $media-xl) {
  .catalogue {
    &__container {
      max-width: 952px;
    }

    &__wrapper {
      grid-template-columns: max-content;
      grid-template-rows: max-content max-content;
    }

    &__filter {
      grid-column: 1;
      grid-row: 1;
    }

    &__cards {
      grid-column: 1;
      grid-row: 2;
    }

    &__title:nth-child(1) {
      display: none;
    }

    &__title:nth-child(2) {
      display: inline-block;
    }
  }
}

@media (max-width: $media-lg) {
  .catalogue {
    &__container {
      max-width: 624px;
    }

    &__wrapper {
      grid-template-columns: max-content;
      grid-template-rows: max-content max-content;
    }

    &__filter {
      grid-column: 1;
      grid-row: 1;
    }

    &__cards {
      grid-column: 1;
      grid-row: 2;
    }

    &__card {
      grid-template-columns: repeat(2, 296px);
      grid-template-rows: 426px 426px 426px;

      .card:nth-child(n + 7) {
        display: none;
      }
    }
  }
}

@media (max-width: $media-sm) {
  .catalogue {
    &__container {
      max-width: 296px;
    }

    &__card {
      grid-template-columns: repeat(2, 140px);
      grid-template-rows: 278px 278px 278px;
    }
  }
}
