@import 'modal';
@import 'mixin';
@import 'var';

.contacts {
  margin-bottom: 65px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;

  }

  &__wrapper {
    display: grid;
    gap: 32px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__image {
    grid-row: 1;
    grid-column: 2;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__request {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    @include sectionTitle;
    color: #202020;
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-grey_shade;
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include sectionTitle;
    margin-bottom: 8px;
  }

  &__input {
    @include formInput;
    margin-bottom: 30px;
  }

  &__input:hover:not(:focus)::placeholder {
    color: $color-primary;
  }

  &__input:focus {
    outline: 1px solid $color-primary;
  }

  &__btn {
    margin-right: auto;
    margin-bottom: 12px;
    padding: 19px 29px;

  }


  &__convention {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-black;
    span {
      padding-left: 5px;
      color: $color-primary;
    }
  }
}

@media (max-width: $media-xl) {

  .contacts {
    margin-bottom: 70px;

    &__container {
      width: 952px;
    }

    &__wrapper {
      grid-template-columns: 405px 511px;
    }
  }
}

@media (max-width: $media-lg) {

  .contacts {

    &__container {
      max-width: 624px;
    }

    &__wrapper {
      grid-template-columns: 405px 187px;
    }

  }
}


@media (max-width: $media-sm) {
  .contacts {

    &__container {
      max-width: 320px;
    }

    &__wrapper {
      display: block;
     max-width: 296px;
     margin: 0 auto;
    }

    &__image {
      display: none;
    }

  }
}
