@import 'var';

.choices[data-type*='select-one']::after {
  content: '';
  height: 0;
  width: 0;
  display: block;
  border: none;
  background-image: url('/img/select_icon.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 5.5px;
  top: 50%;
  height: 8px;
  width: 13px;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*='select-one'] .choices__inner {
  padding-bottom: 0;
}

.is-open.choices[data-type*='select-one']::after {
  display: none; 
}  


.choices__item--selectable {
  color: $color-primary;
  font-size: 16px;
}

.choices__inner {
  border: none;
  display: inline-flex;
  height: 100%;
  padding: 0;
  align-content: center;
  flex-wrap: wrap;
}

.choices__list--dropdown {
  padding: 16px 16px;
}

.choices__item.choices__item--choice.choices__item--selectable {
  color: $color-black;
  font-size: 14px;
  line-height: 130%;
  padding: 0;
}

.region {
  .choices__inner {
    min-width: 90px;
    min-height: 23px;
    color: $color-primary;
    padding: 0;
    //  padding-right: 10px;
  }
}

.header__category {
  height: 60px;
  max-width: 300px;
  .choices {
    height: 100%;
  }
  .choices__outer {
    color: $color-primary;
    padding: 0;
    //  padding-right: 10px;
  }
}

.swiper-container {
 

  .swiper-button-prev {
    top: 17px;
    right: var(--swiper-navigation-sides-offset, 50px);
    left: auto;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next {
    top: 17px;
    right: var(--swiper-navigation-sides-offset,3px);
  }

  .swiper-button-next::after {
    display: none;
  }
}

.swiper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.swiper-container .hero__switch {
  bottom: 30px;
  width: 25px;
  height: 25px;
  outline: none;
}

 .swiper-pagination-horizontal.swiper-pagination-bullets
   .swiper-pagination-bullet
 {
  width: 14px;
  height: 14px;
  background-color: $color-primary;
  opacity: 0.5;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide.offers__slide__two.swiper-slide-next {
  visibility: hidden;
}

@media (max-width: $media-sm) {
  .swiper-container {
    .swiper-button-prev {
      top: auto;
      bottom: 0;
      right: 50px;
      left: auto;
    }
  
    .swiper-button-next {
      top: auto;
      bottom: 0;
    }
  
  
  }
}
