@import 'mixin';
@import 'var';

.footer {

  &__container {
    max-width: 1900px;
    margin: 0 auto;
    background-color: #eaeaea;

  }

  &__wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__item {
    margin-right: auto;
    justify-self: flex-start;
  }

  &__logo {
    margin-bottom: 31px;
  }

  &__social {
    display: flex;
    a:not(:last-child) {
      margin-right: 20px;
    }
  }

  .refs {
    display: flex;
    justify-content: space-between;

    &__section:not(:last-child) {
      margin-right: 112px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
    }

    &__item:first-child {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;
    }

    &__item:not(:first-child) {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-grey;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__sign {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: $color-grey;
    background-color: $color-grey_ligth;

  }

  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  &__icon:hover:not(:focus) path {
    fill: $color_standart;
  }

  &__icon:focus path {
    fill: $color-accent;
  }

  &__icon:active path {
    fill: $color-active;
  }
}

@media (max-width: $media-xl) {
  .footer {
    &__container {
      max-width: 1024px;
      padding-top: 23px;
    }

    &__wrapper {
      grid-template-columns: 305px 361px 160px;
      max-width: 962px;
      align-items: center;
    }

    &__item__two {
      margin-right: 0;
    }
  }
}

@media (max-width: $media-lg) {
  .footer {
    &__container {
      max-width: 768px;
    }

    &__wrapper {
      max-width: 714px;
      grid-template-columns: 1fr 1fr;
    }

    &__item__two {
      display: none;
    }
  }
}
@media (max-width: $media-sm) {
  .footer {
    &__container {
      padding-bottom: 0;
      padding-top: 0;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 120px 66px;
    }

    &__item__one {
      grid-row: 2;
      background-color: #4a4a4a;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
    }

    &__item__three {
      grid-row: 1;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 14px;
      text-align: center;
      background-color: #202020;
    }

    &__sign {
      font-size: 10px;
      line-height: 13px;
    }
  }
}
