@import 'mixin';
@import 'var';

.footer {
  &__container {
    max-width: 1900px;
    margin: 0 auto;
    background-color: #eaeaea;
  }

  &__wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__item {
    margin-right: auto;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;

  }

  &__logo {
    margin-bottom: 31px;
  }

  &__social {
    display: flex;
    a:not(:last-child) {
      margin-right: 20px;
    }
  }

  .refs {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 131px;
    justify-content: space-between;
    padding-top: 3px;

    &__item {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
    }

    &__item:first-child {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;
    }

    &__item:not(:first-child) {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-grey;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__sign {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: $color-grey;
    background-color: $color-grey_ligth;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  &__icon:hover:not(:focus) path {
    fill: $color-primary;
  }

  &__icon:focus path {
    fill: $color-primary_ligth;
  }

  &__icon:active path {
    fill: $color-primary;
  }
}

@media (max-width: $media-xl) {
  .footer {
    &__container {
      max-width: 1024px;
    }

    &__wrapper {
      max-width: 951px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
    }

    .refs {
      column-gap: 95px;

      &__section {
       // width: 150px;
      }
    }
  }
}

@media (max-width: $media-lg) {
  .footer {
    &__container {
      max-width: 768px;
    }

    &__wrapper {
      max-width: 624px;
      flex-direction: column;
    }

    &__item {
      flex-direction: row;
      align-content: center;
      margin-bottom: 24px;
    }

    &__logo {
      margin: 0;
    }

    .refs {
     column-gap: 39px;
    }
  }
}

@media (max-width: $media-sm) {
  .footer {
    &__container {
      max-width: 320px;
    }

    &__wrapper {
      max-width: 296px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      margin-bottom: 24px;
    }

    .refs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr, 1fr;
      column-gap: 17px;
      row-gap: 24px;
      justify-content: space-between;
    }
  }
}
