@import 'mixin';
@import 'var';

.hero {
  margin-bottom: 70px;

  &__container {
    width: 1920px;
    height: 400px;
    padding: 80px 320px;
    padding: 0;

    .swiper-wrapper {
      height: 400px;

      .swiper-slide{
         padding-left: 311px;
      }
    }
  }

  &__slide {
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 320px;
  }

  &__slide__one {
    background-image: url('/img/hero.jpg');
  }

  &__slide__two {
    background-image: url('/img/hero_two.jpg');
  }

  &__slide__three {
    background-image: url('/img/hero_three.jpg');
  }

  &__slide__three > &__wrapper {
    width: 587px;
  }

  &__slide__three > &__wrapper > &__title {
    color: #fff;
  }

  &__wrapper {
    width: 496px;
  }

  &__slide__four {
    background-color: $color-grey_ligth;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__note {
    width: 230px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    color: $color-grey;
  }

  &__title {
    display: inline-block;
    margin-bottom: 51px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: $color-grey;
  }

  &__btn {
    flex-wrap: nowrap;
  }

  &__btn__bottom {
    display: none;
  }
}

@media (max-width: $media-xl) {
  .hero {

    margin-bottom: 69px;
    
    &__container {
      max-width: 1024px;

      .swiper-wrapper .swiper-slide {
        padding-left: 36px;
      }
    }

    &__slide__one {
      background-image: url('/img/hero_1024.jpg');
    }

    &__slide__two {
      background-image: url('/img/hero_two_1024.jpg');
    }

    &__slide__three {
      background-image: url('/img/hero_three_1024.jpg');
    }

    &__slide__three > &__wrapper {
      width: 587px;
    }

    &__slide__three > &__wrapper > &__title {
      color: #fff;
    }

    &__wrapper {
      width: 496px;
    }

    &__slide__four {
      background-color: $color-grey_ligth;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__note {
      width: 230px;
      font-size: 24px;
      line-height: 100%;
      font-weight: 400;
      color: $color-grey;
    }

    &__title {
      display: inline-block;
      margin-bottom: 49px;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      color: $color-grey;
    }
  }
}

@media (max-width: $media-lg) {
  .hero {
    &__container {
      max-width: 768px;
    }

    &__slide__one {
      background-image: url('/img/hero_768.jpg');
    }

    &__slide__two {
      background-image: url('/img/hero_two_768.jpg');
    }

    &__slide__three {
      background-image: url('/img/hero_three_768.jpg');
    }
  }
}

@media (max-width: $media-sm) {
  .hero {
    display: flex;
    flex-direction: column;
    &__container {
      max-width: 320px;
      height: 204px;
      margin-bottom: 24px;

      .swiper {
        margin-bottom: 32px;
      }
    }

    &__swiper {
      height: 204px;
    }

    &__slide {
      padding: 30px;
    }

    &__slide__one {
      background-image: url('/img/hero_320.jpg');
    }

    &__slide__two {
      background-image: url('/img/hero_two_320.jpg');
    }

    &__slide__three {
      background-image: url('/img/hero_three_320.jpg');
    }
    &__slide__three > &__wrapper {
      width: 204px;
    }

    &__slide__three > &__wrapper > &__title {
      color: #fff;
    }

    &__wrapper {
      width: 204px;
    }

    &__note {
      width: 230px;
      font-size: 24px;
      line-height: 100%;
      font-weight: 400;
      color: $color-grey;
    }

    &__title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: $color-grey;
    }

    &__btn {
      display: none;
    }

    &__btn__bottom {
      display: inline-block;
      @include btnPrimary;
      margin: 0 auto;
    }
  }
}
