@import 'mixin';
@import 'var';

.item {
  margin-bottom: 85px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 624px 1fr;
    grid-template-rows: 245px 81px 257px max-content;
    column-gap: 32px;
    row-gap: 16px;
    align-content: space-between;
    justify-content: space-between;

    picture{
      display: '';
    }
  }

  &__photoMain {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
    margin-bottom: 6px;
  }

  &__sale {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  &__photoTop {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-grey_ligth;
  }

  &__titleDescr {
   
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $color-black;
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $color-black;
  }

  &__descr:nth-child(2) {
    margin-bottom: 7px;
  }


  &__characteristics {
    grid-column: 1;
    grid-row: 3;
    padding-top: 14px;
  }

  &__photoBottom {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }

  &__rating {
    margin-bottom: 2px;
    // position: absolute;
    // top: 33px;
    // left: 30px;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #333;
  }

  &__alt {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-grey;
  }

  &__price {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $color-black;
  }

  &__btn__buy {
    margin-right: auto;
    margin-bottom: 13px;
    @include btnPrimary;
    padding: 21px 35px;
    font-size: 15px;
    list-style: 16px;
  }

  &__btn__toBasket {
    margin-right: auto;
    margin-bottom: auto;

    @include btnSecondary;
    border: none;
    padding-top: 0;
    font-size: 16px;
    padding-left: 27px;
  }

  &__records {
    grid-column: 2;
    grid-row: 3 / span 2;
    padding-top: 14px;
  }
}

.record {
  display: grid;
  grid-template-columns: 328px max-content;
  grid-template-rows: 1fr;
  justify-content: flex-start;

  &__wrapper {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    align-content: baseline;
  }

  &__name {
    grid-row: 1;
    grid-column: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $color-grey;
  }

  &__separator {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    display: inline-block;
    align-self: center;
    padding-top: 11px;
    border-bottom: 1px dotted #999;
  }

  &__value {
    grid-row: 1;
    grid-column: 2;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $color-black;
  }
}

@media (max-width: $media-xl) {
  .item {
     margin-bottom: 70px;

     &__container {
       width: 952px;
     }

     &__wrapper {
       grid-template-columns: 514px 405px;
       grid-template-rows: 202px 81px 257px max-content;
     }

  }

  .record {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 216px;
  }
}

@media (max-width: $media-lg) {
  .item {
    margin-bottom: 6px;

    &__container {
      width: 624px;
    }

    &__wrapper {
      grid-template-columns: 187px max-content;
      grid-template-rows: 245px 349px 182px 110px 375px;
      row-gap: 32px;
    }

 
    &__photoMain {
      grid-row: 1;
      grid-column: 1 / span 2;
    }

    &__sale{
      grid-row: 2;
      grid-column: 2;
      padding-top: 51px;
    }

    &__photoTop {
      grid-row: 2;
      grid-column: 1;
      flex-direction: column;
    }

    &__characteristics {
      grid-column: 1 / span 2;
      grid-row: 3;
      width: 541px;
      padding: 0;
    }

    &__titleDescr {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;
    }

    &__descr {
      font-weight: 400;
      font-size: 14px;
      line-height: 180%;
      color: $color-black;
    }

    &__descr:nth-child(2) {
      margin-bottom: 7px;
    }

    &__photoBottom {
      grid-row: 4;
      grid-column: 1 /span 2;
      padding: 0;
      justify-content: left;
    
    }

    &__records {
      grid-row: 5;
      grid-column: 1 /span 2;
      padding: 0;
    }

  
  }
}
@media (max-width: $media-sm) {
  .item {
    margin-bottom: 6px;

    &__container {
      width: 624px;
    }

    &__wrapper {
      grid-template-columns: 296px;
      grid-template-rows: 116px 81px 230px 307px 64px 607px;
      row-gap: 16px;
    }

 
    &__photoMain {
      grid-row: 1;
      grid-column: 1;
    }

    &__sale{
      grid-row: 3;
      grid-column: 1;
      padding-top: 51px;
    }

    &__photoTop {
      grid-row: 2;
      grid-column: 1;
      flex-direction: row;

      picture:last-child{
        display: none;
      }
    }

    &__characteristics {
      grid-column: 1 ;
      grid-row: 6;
      padding: 0;
    }

    &__titleDescr {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;
    }

    &__descr {
      font-weight: 400;
      font-size: 14px;
      line-height: 180%;
      color: $color-black;
    }

    &__descr:nth-child(2) {
      margin-bottom: 7px;
    }

    &__photoBottom {
      grid-row: 4;
      grid-column: 1 /span 2;
      padding: 0;
      justify-content: left;
    
    }

    &__records {
      grid-row: 5;
      grid-column: 1 /span 2;
      padding: 0;
    }

  
  }

}
