 @import 'mixin';
 @import 'var';

.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  //content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-black;
  opacity: 0.3;
  z-index: 10;
}

  .modal-dialog{
    display: inline-block;
    background-color: #fff;
    z-index: 100;
    opacity: 1;
  }

 


// @media (max-width: $media-xl) {
//   .modal {
//     padding: 25px 30px;
//     padding-bottom: 20px;

//     &__content {
//       max-width: 301px;
//     }
//     &__phone {
//       display: inline-block;
//     }

//     &__text {
//       display: inline;
//     }
//     &__phone > svg {
//       vertical-align: middle;
//     }
//   }
// }

// @media (max-width: $media-lg) {
//   .modal {
//     &__content {
//       max-width: 410px;
//     }
//   }
// }

// @media (max-width: $media-sm) {
//   .modal {
//     padding: 28px 19px 7px;

//     &__title {
//       font-size: 18px;
//       line-height: 22px;
//       margin-bottom: 10px;
//     }

//     &__text {
//       font-size: 14px;
//       line-height: 18px;
//       display: inline-block;
//       margin-bottom: 9px;
//     }

//     &__phone {
//       font-size: 14px;
//       line-height: 18px;
//     }
//   }
// }
