@import 'mixin';
@import 'var';

.offers {
  margin-bottom: 70px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  &__left.offer {
    width: 296px;
  }

  &__middle.offer {
    width: 624px;
  }

  &__rigth.offer {
    width: 296px;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    color: #333;
  }
}

.offer.swiper-slide {
   display: flex;
}

.offer {
  position: relative;
 
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding: 30px;
  padding-top: 37px;
  border-radius: 10px;
  background-color: $color-grey_ligth;

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: #333;
  }

  &__img {
    margin-bottom: 16px;
  }

  &__price {
    display: flex;
    align-content: center;
    margin-bottom: 24px;
  }

  &__price__new {
    margin-right: 30px;
    font-size: 18px;
    line-height: 130%;
    color: $color-secondary;
  }

  &__price__old {
    font-size: 16px;
    line-height: 130%;
    color: $color-grey;
  }

  &__btn {
    @include btnSecondary;
  }

  &__label {
    @include label;
    top: 30px;
    left: 0;
  }
}

@media (max-width: $media-xl) {
  .offers {
    margin-bottom: 70px;

    &__container {
      width: 951px;
    }

    &__middle.offer {
      width: 296px;
    }
  }

  .offer {
    &__img__additional {
      display: none;
    }
  }
}
@media (max-width: $media-lg) {
}
@media (max-width: $media-sm) {
}
