@import 'mixin';
@import 'var';

.offers {
  margin-bottom: 70px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;

}
  

  &__left.offer {
    width: 296px !important;
    height: 511px;
    padding-bottom: 23px;
  }

  &__middle.offer {
    width: 624px !important;
    height: 511px;
    align-content: space-between;
    justify-content: space-between;

    .offer__img {
      padding-left: 60px;
    }

    .offer__content {
      width: 217px;
    }
  }

  &__rigth.offer {
    width: 296px !important;
    height: 511px;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    color: #333;
  }

}



.offer.swiper-slide {
  display: flex;
  padding-bottom: 28px;
}

.offer {
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding: 30px;
  padding-top: 37px;
  border-radius: 10px;
  background-color: $color-grey_ligth;

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: #333;
  }

  &__img {
    margin-bottom: 16px;
  }

  &__price {
    display: flex;
    align-content: center;
    margin-bottom: 18px;
  }

  &__price__new {
    margin-right: 30px;
    font-size: 18px;
    line-height: 130%;
    color: $color-secondary;
  }

  &__price__old {
    font-size: 16px;
    line-height: 130%;
    color: $color-grey;
  }

  &__btn {
    @include btnSecondary;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  }

  &__btn:hover:not(:focus) {
    background-color: $color-primary_ligth;
    color: white;
  }

  &__btn:focus {
    background-color: $color-primary_ligth;
    outline: 2px solid $color-primary-shade;
    outline-offset: -3px;
    color: white;
  }

  &__btn:active {
    background-color: $color-primary_shade;
    color: white;
  }

  &__label {
    @include label;
    padding-left: 15px;
    height: 34px;
    width: 79px;
    top: 31px;
    left: 0;
   
    text-align:center;
  }
&__label::after{
  content: '';
  position: relative;
  display: inline-block;
  top: -26px;
  left: 61px;
  border: 17.5px solid transparent;
  border-left: 13px solid #ff862f;
}

}



.offer:nth-child(2n) {
  margin-right: 30px;
}

.offer:nth-child(n) {
  margin-right: 30px;
}

.offer:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: $media-xl) {
  .offers {
    margin-bottom: 70px;

    &__container {
      width: 951px;
    }

    &__middle.offer {
      width: 296px !important;
    }
  }

  .offer:nth-child(2n) {
    margin-right: 0;
  }

  .offer:nth-child(2n-1) {
    margin-right: 30px;
  }

  .offer {
    &__img__additional {
      display: none;
    }
  }
}

@media (max-width: $media-lg) {
  .offers {
    &__container {
      width: 624px;
    }
  }
}

@media (max-width: $media-sm) {
  .offers {
    &__container {
      width: 296px;
      height: 633px;
    }

    &__title {
      @include sectionTitle-sm;
    }
  }
}
