@import 'mixin';
@import 'var';

.products {
  margin-bottom: 70px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    color: #333;
  }

  &__card {
    display: grid;
    grid-template-columns: 296px 296px 296px 296px;
    grid-template-rows: 420px;
    column-gap: 32px;
  }

  .swiper-button-lock {
    display: block;
  }

  &__slide__one {
    .products__card {
      .card:nth-child(n + 5) {
        display: none;
      }
    }
  }

  &__slide__two {
    .products__card {
      .card:nth-child(1) {
        display: none;
      }
      .card:nth-child(2) {
        display: none;
      }
      .card:nth-child(3) {
        display: none;
      }
      .card:nth-child(4) {
        display: none;
      }
      .card:nth-child(n + 9) {
        display: none;
      }
    }
  }
}

@media (max-width: $media-xl) {
  .products {
    &__container {
      width: 952px;
    }
  }
}

@media (max-width: $media-lg) {
  .products {
    &__container {
      width: 624px;
    }
  }
}
@media (max-width: $media-sm) {
  .products {
    margin-bottom: 65px;

    &__container {
      width: 296px;
    }

    .swiper {
      height: 381px;

      &__container {

        .swiper-button-prev {
          top: 367px;
          bottom: auto;
          right: 54%;
          left: auto;
        }

        .swiper-button-next {
          top: 367px;
          bottom: auto;
          right: auto;
          left: 54%;
        }
      }
    }

      &__card {
        display: grid;
        grid-template-columns: 140px 140px 140px 140px;
        grid-template-rows: 278px;
        gap: 16px;
      }
    }
  }

