@import 'mixin';
@import 'var';

.products {
  margin-bottom: 70px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    color: #333;
  }

  .card.swiper-slide {
    height: 420px;
    display: flex;
  }

  .swiper-button-lock {
    display: block;
  }
}

@media (max-width: $media-xl) {
  .products {
    &__container {
      width: 952px;
    }
  }
}

@media (max-width: $media-lg) {
  .products {
    &__container {
      width: 624px;
    }
  }
}

@media (max-width: $media-sm) {
  .products {
    margin-bottom: 65px;

    &__container {
      width: 296px;
    }

    .swiper {
      height: 381px;
    }

    .card.swiper-slide {
      height: 278px;
    }
  }
}
