@import 'mixin';
@import 'var';

.rating {
  margin-bottom: 71px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include sectionTitle;
    color: $color-black;
    margin-bottom: 26px;
  }

  &__card {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 296px);
    grid-template-rows: 420px 420px;
    margin-bottom: 32px;
  }

  &__card > .card:nth-child(n + 9) {
    display: none;
  }

  &__btn__bottom {
    align-self: center;
    padding: 22px 29px;
  }


  &__descr__alternative {
    display: none;
   max-width: 295px;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 22px;
    color: $color-grey_ligth;
  }
}



@media (max-width: $media-xl) {
  .rating {

    &__container {
      max-width: 952px;
    }

    &__card {
      grid-template-columns: repeat(3, 296px);
    }

    &__card > .card:nth-child(n + 7) {
      display: none;
    }
  }
}

@media (max-width: $media-lg) {
  .rating {

    &__container {
      max-width: 624px;

    }

    &__card {
      grid-template-columns: repeat(2, 296px);
      grid-template-rows: 420px 420px 420px;
    }

  }
}

@media (max-width: $media-sm) {
  .rating {

    &__container {
      max-width: 296px;
    }

    &__title {
      @include sectionTitle-sm;
    }

    &__card {
      grid-template-columns: repeat(2, 140px);
      grid-template-rows: 278px 278px 278px;
    }

    &__btn__bottom {
      @include btnPrimary-sm;
    }

  }
}


