@import 'var';
@import 'mixin';

.subject{
    .header {
        margin-bottom: 18px;
    }
}

@media (max-width: $media-sm) {
    .subject{
        .breadcrumb{
            display: none;
        }
        
        .header {
            margin-bottom: 32px;
        }
    }
}