@import 'mixin';
@import 'var';

.useful {
  margin-bottom: 72px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    color: #333;
  }

  &__wrapper {
    flex-wrap: nowrap;
  }

  &__item.swiper-slide {
    width: 624px;
  }
}

.article {
  position: relative;
  padding: 0;
  border-radius: 10px;
  background-color: $color-grey_ligth;

  &__content {
    height: 245px;
    padding: 27px 28px;
    display: flex;
    flex-direction: column;

    .article__descr {
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: $color-black;
      margin-bottom: auto;
    }
  }

  &__btn {
    @include btnSecondary;
    margin-right: auto;
    padding: 17px 32px;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  }
  &__btn:hover:not(:focus) {
    background-color: $color-primary_ligth;
    color: white;
  }

  &__btn:focus {
    background-color: $color-primary_ligth;
    outline: 2px solid $color-primary-shade;
    outline-offset: -3px;
    color: white;
  }

  &__btn:active {
    background-color: $color-primary_shade;
    color: white;
  }

  &__label {
    @include label;
    top: 30px;
    left: 0;
  }
}

@media (max-width: $media-xl) {
  .useful {
    margin-bottom: 70px;

    &__container {
      width: 951px;
    }

    &__item.swiper-slide {
      width: 296px;
    }
  }

  .article {

    &__content {
      height: 250px;
    
      .article__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: $media-lg) {
  .useful {
    &__container {
      width: 624px;
    }
  }
}

@media (max-width: $media-sm) {
  .useful {
    &__container {
      width: 296px;
      height: 562px;
    }

    &__title {
      @include sectionTitle-sm;
    }

    &__btn {
      @include btnSecondary-sm;
    }
  }
}
