@import 'mixin';
@import 'var';

.useful {
  margin-bottom: 70px;

  &__container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    color: #333;
  }

  &__wrapper {
    flex-wrap: nowrap;
  }

  &__item.swiper-slide {
    width: 624px;
  }
}

.article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  border-radius: 10px;
  background-color: $color-grey_ligth;

  &__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $color-black;
    margin-top: auto;
  }

  &__btn {
    @include btnSecondary;
    justify-self: end;
    margin-right: auto;
  }

  &__label {
    @include label;
    top: 30px;
    left: 0;
  }
}

@media (max-width: $media-xl) {
  .useful {
    margin-bottom: 70px;

    &__container {
      width: 951px;
    }


    &__item.swiper-slide {
      width: 296px;
    }
  }

  .article {

    &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media (max-width: $media-lg) {

  .useful{
    &__container {
    width: 624px;
  }
  }
  
}

@media (max-width: $media-sm) {

  .useful{
    &__container {
    width: 296px;
    height: 562px;
  }

  &__title {
    @include sectionTitle-sm;
  }

  &__btn {
    @include btnSecondary-sm;
  }
  }

}
